body {
    background-image:url("../img/background_home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment : fixed;
	background-position: center;
	height: 300vh;
}
html, body {
    margin:0;
    padding:0;
}

.section1 {
	height: 100vh;
}
.titres{
	position : absolute;
	left: 100px;
	font-size: 3vw;
	font-family: Montserrat;
	font-weight: bold;
	margin: 0;
}
.titre1 {
margin-bottom: 0;
}
titre2 {
	font-family: Montserrat;
	margin: 0;
}





.section2 {
	background-color: lightblue;
    height: 85vh;
}
content2 {
	margin: 100px;
}
.titresec {
	text-align: center;
	font-family: Montserrat;
	font-size: 3.5vw;
}
.aboutme_content {
	display: flex;
	margin-right: 10vw;
	margin-left: 10vw;
	flex-direction: row;
	justify-content: center;
}
@media screen and (max-width: 800px) {
	.aboutme_content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.aboutme_text {
		font-size: 3vw;
	}
	.titresec {
		font-size: 7vw;
	}
	#pdp {

	}
}
.aboutme_text {
	margin-right: 3vw;
	margin-left: 3vw;
	font-size: 1.5vw;
	text-align: justify;
	/*font-family: Magnum; 			A déterminer*/
}
.photo {
	margin-right: 3vw;
	margin-left: 3vw;
}
#pdp {
	height: 23vw;
	width: 23vw;
}




.section3 {
	background-color: white;
	height: 100vh;
	position: relative;
	bottom: 60px;	
}
.content3 {
	
}
.project{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 90px;
}
.project_title {
	font-size: 2vw;
	color: blue;
	text-align: center;
}
.project_year {
	color: orange;
	text-align: center;
}
.project_text {
	font-size: 1.3vw;
}
.project_box {
	margin-left: 50px;
}
.text_box {
	border : 0.5em solid black;
	background-color: lightblue;
	height : 100px;
	border-radius: 15px;
	width: 40vw;
}
.video {
	border-radius: 50px;
	height: auto;
	transition: box-shadow 0.4s ease;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	margin-left: 5%;
}
.order1 {
	order: 2;
}
.order2 {
	order: 1;
}
@media screen and (max-width: 800px) {
	.section3 {
		height: 200vh;
	}
	.project {
		flex-direction: column;
		align-items: center;
	}
	.text_box {
		height: 10%;
	}
	.project_title {
		font-size: 4vw;
		color: blue;
	}
	.project_text {
		font-size: 3vw;
	}
	.project_year {
		font-size: 3.5vw;
	}
	.order1 {
		order: 1;
	}
	.order2 {
		order: 2;
	}
}

















