.container {
	justify-content: center;
	margin-top: 1em;
}

.inner {
	text-align: center;
	color: white;
	overflow: hidden;
	padding: 4em;
}
.inner > p{
	font-size: 3.5em;
	animation: slide_up .8s ease;
}

.inner > button {
	margin-top: 10em;
	padding: 1em 2.5em;
	font-size: 1em;
	border-radius: 2em;
	border: none;
	background: #AF4210;
	animation: slide_up .8s ease;
	animation-delay: 0;
}
@keyframes slide_up {
	0% {
		transform: translateY(70px);
		opacity: 0%
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
